<div *ngIf="_service.loading" fxLayout="row" fxLayoutAlign="center none">
  <button class="spinner" mat-mini-fab color="basic">
    <mat-spinner [diameter]="24"></mat-spinner>
  </button>
</div>
<div class="table">
  <mat-list dense style="padding-top: 0px">
    <mat-list-item  class="dc" *ngIf="_service.disconnect" fxLayout="row" fxLayoutAlign="center none">
        <p class="dcAlert">No internet connection</p>
    </mat-list-item>
    <mat-divider *ngIf="disconnect"></mat-divider>
    <ng-container *ngFor="let element of list; let i = index">
      <mat-list-item id="matList" *ngIf="element.important || !_service.showImportantEmail"
      [ngClass] = "currentIndex.indexOf(i) !== -1 ? 'selected matList' : 'matList'"
      (contextmenu)='onContextMenu($event,i,element)' 
      (click)="showDetail(element)">
          <h3 mat-line fxLayout='row' fxLayoutAlign='space-between none' [style.fontWeight]='element.fontWeight'>
            <span>{{element.from}}</span> 
            <div fxLayout="row" fxLayoutAlign=" center">
              <span *ngIf="element.important">
                <mat-icon class="material-icons md-14">star</mat-icon>
              </span> 
              <span class='subtitle' [style.opacity]='element.opacity'>{{element.date}}</span>
            </div>
          </h3>
          <p mat-line> 
            <span class='subtitle' [style.fontWeight]='element.fontWeight' [style.opacity]='element.opacity'>{{element.subject}}</span>
            <br/> 
            <span class='subtitle'>{{element.snippet}}</span>
          </p>
      </mat-list-item>
    </ng-container>
  </mat-list> 
</div>