<p>
    Email that matches any of the following keyword will be marked as important.
    Tap on each filter rule to edit individually.
</p>
<mat-dialog-content>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let keyword of data">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{keyword.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <input matInput placeholder="From" [(ngModel)]="keyword.from">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email address" [(ngModel)]="keyword.email">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Subject" matTextareaAutosize matAutosizeMinRows="1"
                matAutosizeMaxRows="5" [(ngModel)]="keyword.subject"></textarea>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign=" none">
                <mat-checkbox color="primary"  fxFlexAlign="center" style="padding-right: 1em"></mat-checkbox>
                <mat-form-field>
                    All emails from this 
                    <mat-select style="width:30vw" [(value)]="keyword.attribute">
                        <mat-option value="from">sender</mat-option>
                        <mat-option value="email">email address</mat-option>
                        <mat-option value="subject">subject line</mat-option>
                    </mat-select>
                    <br/>
                    are important
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between none">
    <button mat-icon-button fxLayoutAlign="center center">
        <span matTooltip="Edit the keywords above to let the app know what would you like to hear from. Use 'any' to indicate no filter is required for the particular column."
            matTooltipPosition="after">
        <mat-icon fxLayoutAlign="center center">help_outline</mat-icon></span>
    </button>
    <button mat-raised-button color="primary" mat-dialog-close >Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="onSubmit()">Submit</button>
</mat-dialog-actions>