<mat-sidenav-container class="example-container">
    <mat-sidenav id="sidenav" #sidenav mode="'over'" class="mat-elevation-z3" fixedInViewport="true" style="width:80vw"
    fxLayout="column" fxLayoutAlign="start center">
        <app-sidebar [userDetail]="userdetail"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
        <app-topbar class="topbar" (menuToggle)="sidenav.toggle()" [title]="_service.title"></app-topbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>