<div class="filter">
    <!-- <mat-list>
        <mat-list-item (click)="newFilter()">
            <mat-icon>add</mat-icon>
            <span class="word-pad">Create new filter</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['currentFilter']">
            <mat-icon>filter_list</mat-icon>
            <span class="word-pad">My filter</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['keywordSuggest']">
            <mat-icon style="transform: scaleY(-1)">wb_incandescent</mat-icon>
            <span class="word-pad">Keywords suggestion</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list> -->
    <mat-nav-list>
        <mat-list-item (click)="newFilter()">
            <mat-icon>add</mat-icon>
            <span class="word-pad">Create new filter</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let element of navList" (click)="navigate(element.name)" disableRipple='false'>
            <mat-icon>{{element.icon}}</mat-icon>
            <span class="word-pad">{{element.name}}</span>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-nav-list>
</div>