<div class="keywordSuggestion" *ngIf="!_service.topSender.length" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner [diameter]="72"></mat-spinner>
    <p>We're setting up your customised keywords...</p>
</div>
<div class="keywordSuggestion">
    <mat-card class="keywordSuggestion" *ngIf="_service.topSender.length">
        <mat-card-header>
        <mat-card-title>Select from these important keywords from your inbox to start creating filter rules</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list [multiple]="true">
                <mat-chip *ngFor="let sender of _service.topSender" [ngClass]="{'is-active': sender.isActive}" 
                (click)="sender.isActive = !sender.isActive" [color]="warn" 
                [selected]="sender.isActive" [selectable]="true"
                (selectionChange)="showChange($event,sender)">
                    {{sender.name}}
                </mat-chip>
                <mat-chip *ngFor="let email of _service.topEmail" [ngClass]="{'is-active': email.isActive}" 
                (click)="email.isActive = !email.isActive" [color]="primary" 
                [selected]="email.isActive" [selectable]="true"
                (selectionChange)="showChange($event,email)">
                    {{email.name}}
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <div fxlayout="row" fxLayoutAlign="center none">
            <button *ngIf="!_service.keywordLoading" mat-button color="primary" (click)="getMoreKeywords()">Load more...</button>
            <mat-spinner *ngIf="_service.keywordLoading" [diameter]="24"></mat-spinner>
        </div>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="showSelected()" [disabled]="!selectedKeywords.length">Create rules</button>
        </mat-card-actions>
    </mat-card>
</div>