.font-11{
    font-size : 13px;
    padding-bottom: 10px;
}

::ng-deep .mat-form-field{ 
    width:100% !important; 
}

::ng-deep .mat-input-underline{
    display : none;
}

.pad-top{
    padding-top: 0.1em;
}

::ng-deep .mat-checkbox-layout{
    white-space: normal
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label{
    line-height: normal;
}