<div class='sidebar' fxLayout="column" fxLayoutAlign=" none" >
    <mat-card>
        <mat-card-header>
            <div class="userImg" mat-card-avatar *ngIf="userDetail.imageUrl" [style.background-image]="'url(' + userDetail.imageUrl + ')'"></div>
            <mat-card-title>{{userDetail.displayName}}</mat-card-title>
            <mat-card-subtitle>{{userDetail.email}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <button mat-raised-button color = "primary" fxLayout="row" fxLayoutAlign=" center" (click)="inbox()"><mat-icon>inbox</mat-icon><span class="word-pad">Inbox</span></button>
    <button mat-raised-button color = "primary" fxLayout="row" fxLayoutAlign=" center" (click)="filter()"><mat-icon>filter_list</mat-icon><span class="word-pad">Filter</span></button>
    <button mat-raised-button color = "primary" fxLayout="row" fxLayoutAlign=" center" (click)="settings()"><mat-icon>settings</mat-icon><span class="word-pad">Settings</span></button>
    <button mat-raised-button color = "primary" fxLayout="row" fxLayoutAlign=" center" (click)="help()"><mat-icon>help</mat-icon><span class="word-pad">Help and feedback</span></button>
    <button mat-raised-button color = "primary" fxLayout="row" fxLayoutAlign=" center" (click)="signOut()"><mat-icon>exit_to_app</mat-icon><span class="word-pad">Logout</span></button>
</div>