<div class='sidebar' fxLayout="column" fxLayoutAlign=" none" >
    <mat-card>
        <mat-card-header>
            <div class="userImg" mat-card-avatar *ngIf="userDetail.imageUrl" [style.background-image]="'url(' + userDetail.imageUrl + ')'"></div>
            <mat-card-title>{{userDetail.displayName}}</mat-card-title>
            <mat-card-subtitle>{{userDetail.email}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-list>
        <mat-list-item *ngFor="let element of sidebarList" (click)="navigate(element.name)">
            <mat-icon>{{element.icon}}</mat-icon>
            <span class="word-pad">{{element.name}}</span>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>