<mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
        <mat-card-title>{{emailList.subject}}</mat-card-title>
        <mat-icon>{{star}}</mat-icon>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br/>
    <mat-card-content>
        <span>From : {{emailList.from}}</span>
        <br/>
        <div style="overflow:scroll" [innerHtml]="html | safeHtml"></div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary">Mark this email as important</button>
    </mat-card-actions>
</mat-card>